* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

/* Reset styles for input and button elements */
input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Style for buttons */
button {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #FFB000;
  color: black;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #FFD700; /* Change the color when hovered */
}
/* Styling for the login app container */
.LoginApp {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAD7BB;
}

/* Styling for the login form */
form {
  display: block;
  position: relative;
}

form:after {

  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  /*background-image: ;*/
}

form .inner-form {
  position: relative;
  display: block;
  background-color: #F5F5DC;
  padding: 30px;
  z-index: 2;
}

form .inner-form h2 {
  color: #EAD7BB;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #393E46;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #393E46;
}

.form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #EEEEEE;
  border-radius: 8px;
  transition: 0.4s;
}

.form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

/* Styling for the form submit button and welcome message button */
form.form-inner input[type="submit"],
.welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFB000 50%, #FFB000 50%, #004225);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #F5F5DC;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover,
.welcome button:hover {
  background-position: 100% 0%;
}

/* Styling for the welcome message container */
.welcome {
  width: 100%;
  max-width: 480px;
  background-color: #EAD7BB;
  padding: 15px 30px;
}

.welcome h2 {
  color: #BCA37F;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span {
  color: #FFB000;
  font-weight: 700;
}
